/weights
/results
*.pth
*.ckpt
*.pt
*.ptl
*.ptl.gz
*.ptl.tar
*.ptl.tar.gz
*.ptl.tar.bz2
*.ptl.tar.xz
*.ptl.tar.lzma
*.log
/embedding_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw